<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>
<div class="container">
  <table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.name %> </td>
        <td> <%= user.email %> </td>
        <td><%= link_to 'Send Email', new_user_email_path(user.id,recipient_email: user.email)   %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Add User', new_user_path, class: 'btn btn-primary btn-block btn-sm' %>
