<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2 class="text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <br>
        <p class="text-left">Please enter your email address and we will send you a link to reset your password.</p>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block btn-lg' %>
        </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
