<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @recipient.name %></h1>
<p>
  My name is  <%= @user.name %>

  <%= @mail.body_text %>

</body>
</html>