
<div class="container-content">
  <div class="container">
<%= form_for [@user,@email], url:  "/users/#{@user.id}/emails?recipient_email=#{@email.recipient_email}" , :method => 'post'   do |f| %>
        <div class="form-group">
          Send to <%= @email.recipient_email %><br />
          </div>
        <div class="form-group">
          <%= f.label :subject %><br />
          <%= f.text_field :subject_text, autofocus: false, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :body %><br />
          <%= f.text_area :body_text, autofocus: false, class: 'form-control' %>
        </div>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>


      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </div>
</div>
