<p id="notice"><%= notice %></p>

<h1>Emails sent</h1>

<div class="container">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <th>Email Recipient</th>
    <th>Subject</th>
    <th>Body</th>
    </thead>

    <tbody>
    <% @emails.each do |mail| %>
        <tr>
          <td> <%= mail.subject_text %> </td>
          <td> <%= mail.body_text %> </td>
        </tr>
    <% end  %>
    </tbody>
  </table>
</div>

<br>
